
@font-face {
    font-family: "Vilane";
    src: url('../public/Vilane.ttf') format('truetype');
}

.page_flexBox {
    display: flex;
    justify-content: center;
    background-color: #5A5B5B;
    border: 2px solid #2E2E2E;
    max-width: 814px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    min-height: 40vh;
}

.song_title_grid {
    margin-left: 40px;
}

.userClaimable {
 padding-right: 4rem;
}

.song_list_container{
    overflow-y:scroll;
    scroll-behaviour: smooth;
    max-height: 60vh;
    border: 1px solid #2E2E2E;

}

.song_container {
    min-width: 80vh;
    align-items: center;
    border: 1px solid #2E2E2E;
    border-radius: 12px;
    margin-top: 20px;
    min-height: 80px;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;

}

.music_button {
    border-radius: 8px;
    background-color: #ED1C24;
    padding: 8px 10px;
    font-weight: 700;
    margin-top: 1em;
    border: none;
    color: black;
    width: 150px;
    font-family: "Vilane", Times, serif;
}

.audio_player_wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
}

.page_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    display : block;
}

.amountRow {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.innerRow, .topRow, .bottomRow  {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    border-left: 2px solid #2E2E2E;
    border-right: 2px solid #2E2E2E;
}

.topRow {
    border-top: 2px solid #2E2E2E;
}

.bottomRow {
    border-bottom: 2px solid #2E2E2E;
}

.tokenDisplay {
    padding: 20px;
    font-family: Fantasy;
}

.title_holder {
    display: block;
    align-items: center;
    justify-content: center;
}

.earned_holder {
    position: absolute;
    right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.earned_token_holder {
    color: black;
    border-radius: 15px;
    font-family: Fantasy;
    padding: 7px;
    font-size: .85rem;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.earned_text {
    color: black;
}


.page_header {
    font-size: 2rem;
    font-weight: 600;
}

.nft_media_container {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.modal {
    background-color: #DBDDDE;
}

.modal_liner {
    min-width: 100%;
    min-height: 100%;
    margin: 50px;
}

.lotto_input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    display : block;
    border: 1px solid #2E2E2E;
    max-width: 814px;
    margin: auto;
    padding: 20px;
    margin-top: 3rem;
    border-radius: 12px;
}

.mintButton {
    display: flex;
    justify-content: center;
}

.inputField {
    display: flex;
    justify-content: center;
}

.nft_media {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 1;
    width: 350px;
}

.nft_info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
    margin: auto;
}

.nft_title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: center;
}

.page_title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: center;
}

.currently_playing_header {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: center;
}

.currently_playing_text {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 12px;
    text-align: center;
    background-image:
            linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet
            );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 800s linear infinite;
}

@keyframes move {
    to {
        background-position: 4500vh;
    }
}


.nft_author {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.nft_instructions_title {
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.text {
    font-size: 18px;
    font-family: "Vilane", Times, serif;
}

.mintSectionHeaderText{
    font-size: 20px;
    text-align: center;
}

.break {
    background-color: black;
    color: black;
    border-color: black;
    margin-block: 1em;
}

.close_corner {
    display: flex;
    justify-content: end;
}

.button, .claim_button {
    border-radius: 8px;
    background-color: black;
    padding: 8px 10px;
    font-weight: 700;
    border: none;
    color: white;
    width: 150px;
}

.claim_button {
    margin-bottom: 0em;
}

.claim_button[disabled]{
    opacity: 0.3;
}

.button[disabled]{
    opacity: 0.3;
}

.transaction_box {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
.tx_hash {
    color: rgb(0, 98, 255);
}

.isMinting {
    background-color: lightgray;
    cursor: not-allowed;
}

.attribute_input_label {
    font-weight: 700;
    font-size: 14px;
    color: #4e4e4e;
    margin-block: 0.5em;
}

.address_container {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media screen and (max-width: 560px) {
    .page_container {
        display: block;
    }

    .page_flexBox {
        display: block;
        width: 500px;
    }

    .nft_info {
        width: 90%;
        font-size: 24px;
    }

    .nft_media_container {
        width: 90%;
        margin-bottom: 2em;
    }

    .text {
        font-size: 24px;
    }

    .nft_author {
        font-size: 20px;
    }

    .nft_instructions_title {
        font-size: 20px;
    }
}


