
@font-face {
    font-family: "Vilane";
    src: url('../public/Vilane.ttf') format('truetype');
}

.page_flexBox {
    display: flex;
    justify-content: center;
    border: 2px solid #2E2E2E;
    max-width: 814px;
    margin: auto;
    padding: 20px;
    margin-top: 3rem;
    border-radius: 12px;
    min-height: 40vh;
}

.song_list_container{
    overflow-y:scroll;
    scroll-behaviour: smooth;
    max-height: 60vh;
    border: 1px solid #2E2E2E;
}

.song_container {
    min-width: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #2E2E2E;
    border-radius: 12px;
    margin-top: 20px;
    min-height: 80px;
}

.music_button {
    border-radius: 8px;
    background-color: #ED1C24;
    padding: 8px 10px;
    font-weight: 700;
    margin-top: 1em;
    border: none;
    color: white;
    width: 150px;
    font-family: "Vilane", Times, serif;
}

.audio_player_wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
}

.page_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    display : block;
}

.page_header {
    font-size: 2rem;
    font-weight: 600;
}

.nft_media_container {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.lotto_input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    display : block;
    border: 1px solid #2E2E2E;
    max-width: 814px;
    margin: auto;
    padding: 20px;
    margin-top: 3rem;
    border-radius: 12px;
}

.mintButton {
    display: flex;
    justify-content: center;
}

.inputField {
    display: flex;
    justify-content: center;
}

.nft_media {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 1;
    width: 350px;
}

.nft_info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50%;
    margin: auto;
}

.nft_title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: center;
}

.currently_playing_text {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: center;
}

.nft_author {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.nft_instructions_title {
    color: black;
    font-weight: 700;
    font-size: 14px;
}

.text {
    font-size: 18px;
    font-family: "Vilane", Times, serif;
}

.mintSectionHeaderText{
    font-size: 20px;
    text-align: center;
}

.break {
    background-color: black;
    color: black;
    border-color: black;
    margin-block: 1em;
}

.button {
    border-radius: 8px;
    background-color: black;
    padding: 8px 10px;
    font-weight: 700;
    margin-top: 1em;
    border: none;
    color: white;
    width: 150px;
}

.button[disabled]{
    opacity: 0.3;
}

.transaction_box {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}
.tx_hash {
    color: rgb(0, 98, 255);
}

.isMinting {
    background-color: lightgray;
    cursor: not-allowed;
}

.attribute_input_label {
    font-weight: 700;
    font-size: 14px;
    color: #4e4e4e;
    margin-block: 0.5em;
}

.address_container {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media screen and (max-width: 560px) {
    .page_container {
        display: block;
    }

    .page_flexBox {
        display: block;
        width: 500px;
    }

    .nft_info {
        width: 90%;
        font-size: 24px;
    }

    .nft_media_container {
        width: 90%;
        margin-bottom: 2em;
    }

    .text {
        font-size: 24px;
    }

    .nft_author {
        font-size: 20px;
    }

    .nft_instructions_title {
        font-size: 20px;
    }
}
